<p>
  simple-ag-grid works!
</p>
<ag-grid-angular
  #agGrid
  style="width: 500px; height: 200px;"
  class="ag-theme-balham"
  [gridOptions]="gridOptions"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [pinnedTopRowData]="pinnedTopRowData"
  [frameworkComponents]="frameworkComponents"
  [columnTypes]="columnTypes"
  updateColorCell
  [suppressContextMenu]="false"
  [defaultColDef]="defaultColDef"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
<dl>
  <dt></dt>
  <dd>重设数据
    <button (click)="resetData()">resetData</button>
  </dd>
  <dd>滚动到第9行
    <button (click)="goToLine()">goToLine</button>
  </dd>
  <dd>获取选中的行
    <button (click)="getSelectedRows()">getSelectedRows</button>
  </dd>
  <dd>获取选中的范围
    <button (click)="getCellRanges()">getSelectedRows</button>
  </dd>
  <dd>设置冻结行/固定行
    <button (click)="setPinnedRow()">setPinnedRow</button>
  </dd>
  <dd>
    刷新第一行A列
    <button (click)="refreshColumn()">refresh column A</button>
  </dd>
  <dd>
    获取列状态
    <button (click)="getColumnState()">getColumnState</button>
  </dd>
  <dd>
    获取列状态
    <button (click)="getValueColumns()">getColumnState</button>
  </dd>
  <dd>
    获取所有颜色变更记录
    <button (click)="getAllRecord()">getAllRecord</button>
  </dd>
  <dd>
    <button (click)="openPickColor()">openPickColor</button>
    选择某列，变更颜色
    <input
      #cp="ngxColorPicker"
      [(colorPicker)]="color"
      [style.background]="color"
      [cpOKButton]="true"
      cpOKButtonText="确定"
      [cpSaveClickOutside]="false"
      cpOKButtonClass="ant-btn ant-btn-primary"
      (colorPickerSelect)="pickerClose($event)"
    />
  </dd>
  <dd><picker-color (colorPickerSelect)="pickerClose($event)"></picker-color></dd>
</dl>




