<h2>
  数据视图互转
</h2>
<p class="description">
  本页面分别模拟：（本页面融合了<span class="des-important">布局/自定义拖动层</span>的<span class="des-important">appReactDnd</span>指令来模拟自定义编辑页面功能）<br>
  1.数据创建视图(模拟后台传入数据，前台根据数据在指定的容器内呈现指定的组件，组件数据，组件样式)<br>
  2.视图创建数据(前台对容器内的组件进行修改，包括组件数量（增删），组件的样式和组件数据，然后转成对应数据)<br>
  3.前端动态选择数据并创建视图，默认插入到顶端第一列<br>
  4.获取前端组件的视图并转为数据
</p>
<div style="background-color: #f7f7f7; margin: 8px 0;">
<mat-grid-list cols="2" rowHeight="300">
  <mat-grid-tile>
    <div class="step">
      <div class="title center">数据转视图流程</div>
      <ul>
        <li>自定义一个<span class="des-important">NameMapComponent</span>对象用来保存组件类和名字映射</li>
        <li>自定义一个静态类根据模块名字来保存上面NameMapComponent实例</li>
        <li>在ngModule中使用对象记录组件，然后声明(declaration)组件和登入组件entryComponent</li>
        <li>创建NameMapComponent实例使用RegisterNMC使其和模块名映射</li>
        <li>在组建通过模块名获取对应的nmc，然后使用nmc根据组件名获取对应的组件</li>
        <li>使用<span class="des-important">ComponentFactoryResolve</span>来创建组件工厂</li>
        <li>传入组件工厂到ViewContainerRef.createComponent方法创建视图，该方法返回一个<span class="des-important">componentRef</span></li>
        <li>对ComponentRef中的实例的数据和样式属性直接赋值</li>
      </ul>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="step">
      <div class="title center">视图转数据流程</div>
      <ul>
        <li>通过<span class="des-important">ViewContainerRef</span>的length属性和get(index)方法来遍历并获得容器内存在的视图ViewRef</li>
        <li>ViewRef中有一个叫做<span class="des-important">_view:LView</span>的属性，LView根据创建参数（组件或者嵌套视图）来关联对应的参数</li>
        <li>通过_view获取组件实例，并调用自定义的方法来获取需要的数据</li>
      </ul>
    </div>
  </mat-grid-tile>
</mat-grid-list>
</div>
不能在激活Dnd后再点击数据转为视图，因为这是模拟一开始后台数据过来创建视图的过程，Dnd模式需要插入视图
<div class="button-row" style="margin-bottom: 24px;">
  <button mat-stroked-button (click)="data2view()" color="primary">数据转为视图</button>
  <button mat-stroked-button (click)="view2data()">视图转为数据</button>
  <button mat-stroked-button (click)="activeDnd()">激活Dnd</button>
  <button mat-stroked-button (click)="addNewView()" *ngIf="actived">增加新的视图</button>
  <button mat-stroked-button (click)="destroyDnd()">结束Dnd</button>
</div>
<div style="position: relative; width: 1000px; box-sizing: border-box; background-color: #e1e1e1;" #dnd="dnd" appReactDnd [designSize]="1000">
  <ng-template #insert></ng-template>
</div>
