<p #abc>
  observable-demo works!
</p>
<dl>
  <dt>高阶(返回值为observable)转为一阶(值)</dt>
  <dd><button (click)="concatAll()">concatAll</button></dd>
  <dt>subject</dt>
  <dd><button (click)="subject()">subject</button></dd>
  <dt>rang</dt>
  <dd><button (click)="rang()">rang</button></dd>
  <dt>mergeAll</dt>
  <dd><button (click)="mergeAll()">mergeAll</button></dd>
  <dt>of</dt>
  <dd><button (click)="getOf()">getOf</button></dd>
  <dt>eventFrom</dt>
  <dd><button (click)="eventFrom()">eventFrom</button></dd>
  <dt>switchMap</dt>
  <dd><button (click)="switchMap()">switchMap</button></dd>
</dl>
