<button (click)="playVerticalDown()">playVerticalDown</button>
<button (click)="playOverallJigDown()">playOverallJigDown</button>
|<button (click)="playMove1()">playMove1</button>
|<button (click)="playMoveBeltVertical()">playMoveBeltVertical</button>
|<button (click)="playMoveBel()">playMoveBel</button>
|<button (click)="playLiftBoardMoveUp()">playLiftBoardMoveUp</button>
|<button (click)="playLiftBoardMoveDown()">playLiftBoardMoveDown</button>
|<button (click)="playTongRotation()">playTongRotation</button>
|<button (click)="playTongRotationRevert()">playTongRotationRevert</button>
|<button (click)="playSwivelRotation()">playSwivelRotation</button>
|<button (click)="playSwivelRotationRevert()">playSwivelRotationRevert</button>
|<button (click)="playArm2Down2()">playArm2Down2</button>
|<button (click)="playArm2Down2Revert()">playArm2Down2Revert</button>
|<button (click)="playArm2Up()">playArm2Up</button>
|<button (click)="playArm2UpRevert()">playArm2UpRevert</button>
|<button (click)="playArm1Back()">playArm1Back</button>
|<button (click)="playArm1BackRevert()">playArm1BackRevert</button>
|<button (click)="playArm1Front()">playArm1Front</button>
|<button (click)="playArm1FrontRevert()">playArm1FrontRevert</button>
|<button (click)="playArm1Front2()">playArm1Front2</button>
|<button (click)="playArm1Front2Revert()">playArm1Front2Revert</button>
|<button (click)="playPedestalRotation()">playPedestalRotation</button>
|<button (click)="playPedestalRotationRevert()">playPedestalRotationRevert</button>
|<button (click)="playWork()">playWork</button>
|<button (click)="playBackWork()">playBackWork</button>
<!--|<button (click)="playPedestalRotationRevert()">playPedestalRotationRevert</button>-->
<p class="container" #container></p>
