.modal-plus {
  border: 1px solid #3b3b3b;
  width: 400px;
  background-color: #fff;
  &.e-resize{
    cursor: e-resize;
  }
  &.w-resize{
    cursor: w-resize;
  }
  &.ne-resize{
    cursor: ne-resize;
  }
  &.nw-resize{
    cursor: nw-resize;
  }
  &.n-resize{
    cursor: n-resize;
  }
  &.s-resize{
    cursor: s-resize;
  }
  &.se-resize{
    cursor: se-resize;
  }
  &.sw-resize{
    cursor: sw-resize;
  }
  .title {
    display: flex;
    .move {
      cursor: move;
    }

    .title-content {
      flex: 1;
    }

    .close {
      width: 30px;
    }
  }
}
