<p>
  ag-Grid结合表单校验
  校验name,sex,class3个字段，不为空
  当值为空时，invalid为真
</p>
<ag-grid-angular
  style="width: 500px; height: 200px;"
  class="ag-theme-balham"
  [columnDefs]="columnDefs"
  [rowData]="rowData"
  [context]="getContext()"
  [gridOptions]="gridOptions"
  (gridReady)="onGirdReady($event)"
></ag-grid-angular>
<button [disabled]="agFormGroup.invalid">submit</button>
<button (click)="showAgFormGroup()">showAgFormGroup</button>
<button (click)="addNewLine()">addNewLine</button>


<test [arr]="arr"></test>
<hr>
<div *ngFor="let item of arr">
 {{item.name}}-{{item.age}};
</div>

<button (click)="change()">change</button>



