<div class="modal-plus" apsFlexibleSize>
  <div class="title" #titleHandle>
    <div class="title-content">title{{data.name}}</div>
    <div class="close" (click)="close()">
      <button>x</button>
    </div>
  </div>
  <div class="content">
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
    contentaskjfasdkfadsfa hsdfjhaskf<br>
  </div>
</div>
