<button (click)="activeCustom()">custom</button>
<div class="example-boundary" style="position: relative;">
  <div class="example-box" style="transform: translate3d(0px,0px,0); position: absolute;">1</div>
  <div class="example-box" style="transform: translate3d(200px,0px,0); position: absolute;">2</div>
  <div class="example-box" style="transform: translate3d(200px,200px,0); position: absolute;">3</div>
  <div class="example-box" style="transform: translate3d(0px,200px,0); position: absolute;">4</div>
  <div class="example-box" style="transform: translate3d(0px,400px,0); position: absolute;">5</div>
  <div class="example-box" style="transform: translate3d(0px,600px,0); position: absolute;">6</div>
  <div class="example-box" style="transform: translate3d(0px,800px,0); position: absolute;">7</div>
  <div class="example-box" style="transform: translate3d(400px,0px,0); position: absolute;">8</div>
  <div class="example-box" style="transform: translate3d(600px,0px,0); position: absolute;">9</div>
  <div class="example-box" style="transform: translate3d(400px,200px,0); position: absolute;">10</div>
</div>

