/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "src/app/layout-demo/component/modal-plus/style/modal-plus.component";

html, body {
  font-size: 12px;
  line-height: 24px;
  color: #666;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

dt {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  margin-top: 16px;
  &:first-child {
    margin-top: 0;
  }
}

.red {
  font-weight: bold;
  color: red;
}

ul {
  list-style: none;
}

h2 {
  font-weight: bold;
  padding: 8px;
  font-size: 16px;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: rgba(0, 0, 0, .87);
}

.description {
  border: 1px dashed rgba(0, 0, 0, .2);
  padding: 16px;
  color: #666;
}

.des-important {
  background-color: #999;
  color: #e2fd12;
}

.title {
  font-size: 14px;
  color: #333;
}

.center {
  text-align: center;
}

.step {
  ul {
    list-style: none;
    padding: 0 16px;
    list-style: inherit;
  }

  li {
    padding-bottom: 4px;
  }
}

.button-row{
  button,a{
    margin-right: 8px;
  }
}
